@font-face {
   font-family: myFont;
   src: url(../fonts/Warlow_Sans.otf);
}
@keyframes animatebottom{from{left:-300px;opacity:0} to{left:0;opacity:1}}
@keyframes animatetop{from{right:-300px;opacity:0} to{right:0;opacity:1}}
@keyframes animateleft{from{left:-300px;opacity:0} to{left:300;opacity:1}}

.anchor{
    padding-top 90px;
}

#title{
    top: 400px;
    text-align: center;
    font-size: 400%;
    color: white;
    position: absolute;
    margin: auto;
    width: 100%;
    background: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,1), rgba(0,0,0,0));
    z-index: 6;
}

.mySlides {
    display:none;
}

.slidetop{
    position:relative;
    animation:animatetop 0.6s
}

.slidebottom{
    position:relative;
    animation:animatebottom 0.6s;
}

.slider{
    margin: 0 auto;
    margin-top: 70px;
    z-index: 4;
}

.Slides{
    margin: 0 auto;
    width: 100%;
    height: 800px;
    z-index: 4;
}

.overons{
    margin: 0 auto;
    width: 85%; 
    height: 370px;
    border-radius: 10px;
}

#overons{
    padding-top: 70px;
}

#overons h2{
    text-align: center;
}

#info1{
    position: absolute;
    padding-top: 30px;
    padding-left: 10px;
    margin-left: 10px;
    text-align: center;
    font-size: 190%;
    width: 200px;
    height: 280px;
    z-index: 9999;
    background-color: rgb(214, 214, 214);
    border-radius: 10px 0px 0px 10px;
}
#info2{
    position: absolute;
    text-align: left;
    margin-left: 210px;
    padding-left: 30px;
    padding-right: 10px;
    width: 585px;
    height: 310px;
    z-index: 8888;
    background-color: rgb(214, 214, 214);
    border-radius: 0px 10px 10px 0px;
}

#webhosting{
    padding-top: 70px;
}

.webhosting{
    text-align: center;
    width: 100%;
    height: 650px;
}

.pakket .button p{
    padding-top: 5px;
}

.pakket .button a{
    text-decoration: none;
    color: white;
}

.pakket .button{
    margin-left: 19%;
    width: 60%;
    height: 30px;
    color: white;
    background-color: black;
    margin-top: 10%;
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px rgb(100, 99, 99);
}


.pakket .button:active {
    transform: translateY(2px);
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px #000;
}

.pakket .bar p{
    padding-top: 15px;
    margin-top: 0px;
}

.pakket .bar{
    width: 100%;
    height: 50px;
    color: white;
    background-color: black;
    border-radius: 5px 5px 0px 0px;
}

.pakket .price p{
    padding-top: 15px;
    margin-top: 0px;
}

.pakket .price{
    width: 100%;
    height: 30px;
    color: white;
    background-color: black;
    margin-top: -10px;
}

.pakket{
    height: 525px;
    width: 300px;
    float: left;
    margin-left: 2%;
    background-color: aqua;
    border-radius: 5px 5px 5px 5px;
}

hr{
    color: black;
    border-width: 2px;
    border-bottom: 0px;
    border-right: 0px;
    border-left: 0px;
}

#recencies{
    padding-top: 70px;
}

.recencies{
    text-align: center;
    width: 100%;
    height: 430px;
}

#recencie{
    margin: 0 auto;
    padding: 10px;
    text-align: left;
    width: 90%;
    height: 250px;
    background-color: rgb(214, 214, 214);
    border-radius: 10px;
}

#recencie h4{
    text-align: right;
    padding: 10px;
}

#cloud{
    padding-top: 70px;
}

.cloud{
    text-align: center;
    width: 100%;
    height: 700px;
}

.contact{
    text-align: center;
    width: 100%;
    height: 400px;
}

.contact form{
    padding-top: 40px;
    background-color: rgb(214, 214, 214);
    border-radius: 0px 0px 0px 0px;
    float: left;
}

.contact #form{
    width: 50%;
    float: left;
}

.contact #contactinfo{
    width: 330px;
    height: 100%;
    padding-top: 40px;
    padding-left: 40px;
    float: left;
    background-color: rgb(214, 214, 214);
}

.contact #contactinfo p{
    z-index: 999999999;
}

#tweets{
    width: 290px;
    height: 350px;
    background-color: rgb(214, 214, 214);
    padding: 30px;
    padding-top: 40px;
    float: right;
    border-radius: 0px 10px 0px 0px;
}

.twitter-timeline{
    height: 270px;
}


input[type=text] {
    width: 70%;
    padding: 12px 20px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: none;
}

textarea[type=text] {
    width: 70%;
    padding: 12px 20px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: none;
}

body {
    background: #e5e5e5;
    margin: 0 auto;
    width: 100%;
    font-family: myFont;
}

.wrapper {
    width: 980px;
    margin: 0 auto;
}

#brons{
    width: 100%;
    height: 700px;
    background-color: rgb(214, 214, 214);
    padding: 20px;
    padding-top: 70px;
}

#brons #specs{
    width: 50%;
    float: left;
}

.styled-select select {
   background: rgb(172, 172, 172);
   border: none;
   font-size: 14px;
   height: 29px;
   padding: 5px; /* If you add too much padding here, the options won't show in IE */
   width: 268px;
}

.logo {
    text-decoration: none;
    color: #000;
    font-size: 400%;
    float: left;
    padding-left: 20px;
    margin-top: -10px;
}

nav {
    top: 0;
    position: fixed;
    background: #fff;
    height: 70px;
    width: 100%;
    z-index: 99999;
}

nav ul {
  	float: right;
    list-style: none;
}

nav ul li {
  	text-align: center;
    line-height: 40px;
    margin-left: 20px;
    padding-right: 20px;
}

nav ul li:hover {
    cursor: pointer;
    position: relative;
}

nav ul li:hover > a {
    color: black;
    transform: scale(1.2);
}

nav ul li a {
    cursor: pointer;
    display: block;
  	outline: none;
  	width: 100%;
    text-decoration: none;
}

nav ul li {
  	float: left;
}

nav a {
    color: black;
}

footer{
    width: 100%;
    height: 70px;
    position: absolute;
    background-color: white;
    margin-top: 40px;
}

footer #footer{
    bottom: 0;
}

.copyright{
    margin-top: 20px;
    margin-left: 20px;
    float: left;
}

.social{
    margin-top: 15px;
    margin-right: 20px;
    float: right
}

.social i{
    margin-left: 10px;
    color: black;
}

.button3 {font-size: 16px;}

.buttton {
    background-color: #4CAF50; /* Green */
    width: 70%;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 10px 2px;
    cursor: pointer;
}